body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Header Styling*/

header {
  position: fixed;
  display: flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-index: 10;
  background-color: black;
  top: 0;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

.logo {
  flex-grow: 1;
}

nav {
  margin-right: 20px;
}

nav a {
  padding-left: 25px;
  color: seashell;
  text-decoration: underline;
}


/* Mission Statement Styling */

.mission {
  background-image: url(../images/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  display: flex;
  margin: 0 auto;
  margin-top: 70px;
}
